:root {
    --color-gray: rgb(61, 61, 61);
    --color-border-cyan: cyan;
    --corner-radius: 10px;
}
html {
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
}

header,
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 35px;
    background-color: var(--color-gray);
}

pre {
    position: relative;
    color: rgb(61, 61, 61);
    background-color: var(--color-border-cyan);
}

h2{
    text-align: right;
}

p {
    margin-left: 20px;
    margin-right: 100px;
    font-size: 20px;
    line-height: 1.5;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links a {
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    color: var(--color-border-cyan);
    font-size: 30px;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}
.ui-whitespace {
   padding: 100px;
}

#about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-page img {
    max-width: 100%;
    border: 5px solid var(--color-border-cyan);
    opacity: .6;
    transition: all 0.3s ease-in-out;
}

.project-page img:hover {
    box-shadow: inset 0px 0px 40px var(--color-border-cyan), 0 0 15px var(--color-border-cyan); 
    opacity: 1;
}

#lower-half {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    top: 900px;
}

#lower-half figure {
    width: 480px;
}

.text-header,
#led-wall,
#calculator,
#minimalist-puzzle,
#pet-finder {
    position: absolute;
    padding-right: 10px;
    border-top-right-radius: var(--corner-radius);
    border-bottom-right-radius: var(--corner-radius);
    text-align: right;
    opacity: 1;
}

.text-header {
    margin-top: -100px; 
    width: 20%;
    font-size: 20px;
}

#led-wall,
#calculator,
#minimalist-puzzle,
#pet-finder {
    margin-top: -75px; 
    width: 10%;
    font-size: 15px;
}

#profile-picture {
    width: 200px;
    height: auto;
    border: 5px solid black;
}

@media screen and (max-width: 992px) {
    p {
        width: 50%;
    }

    img {
        width: 50%;
    }

    .project-page pre,
    #lower-half pre {
        font-size: 50%;
    }

    header pre,
    #nav-links,
    footer pre {
        width: 50%;
    }
  }