html {
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
}
header,
footer {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    background-color: rgb(61, 61, 61);
}

pre {
    position: relative;
    color: rgb(61, 61, 61);
    background-color: cyan;
}

h2{
    text-align: right;
}

p {
    margin-left: 20px;
    margin-right: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links a {
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    color: cyan;
    font-size: 30px;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}
.ui-design {
   padding: 100px;
}

#about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#work {
    display: flex;
}

.project-page img {
    max-width: 80%;
    height: auto;
    border: 5px solid cyan;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.project-page img:hover {
    box-shadow: inset 0px 0px 40px cyan, 0 0 15px cyan; 
    opacity: 1;
}

#lower-half {
    display: flex;
    flex-flow: row wrap;
}

#lower-half figure {
    width: 480px;
}
 
